#box{
	width:100px;
	height:100px;
}
/*  --------	 All 	--------- */
.wrapper960{
	margin: 0 auto;
	width:960px;

}
.left{
	float:left;
}
.right{
	float:right;
}
.clear{
	clear:both;
}
/*  --------	 Header --------- */
#header{
	background-image: url('images/header_back.gif');
	height:230px;
}
.top{
	height: 115px;
}
.menu{
		position:relative;
		top:110px;
	
}
.menu a{
	text-transform: uppercase;
	font:16px arial,sans-serif;
	color:#FFF;
	text-decoration: none;
	padding-left: 15px;
}

/*  --------	Content	--------- */
#content{
	padding-bottom:2em;
}
.boxes {
	width:800px;
	margin:0 auto;
	margin-top: 3em;
	margin-bottom: 2em;
}
.boxes div{
	border: 1px solid #999;
	width:300px;
	height:200px;
}

/*	--------	Footer	--------- */
#footer{
	background-color: #b3b1b0;
	margin-top:2em;
	height:400px;
}


/*	--------	Slider	--------- */
	.nivoSlider {
	    position:relative;
	    width:618px; /* Change this to your images width */
	    height:246px; /* Change this to your images height */
	    background:url(images/loading.gif) no-repeat 50% 50%;
		margin:0 auto;
	}
	.nivoSlider img {
	    position:absolute;
	    top:0px;
	    left:0px;
	    display:none;
	}
	.nivoSlider a {
	    border:0;
	    display:block;
		
	}
